[Desktop Entry]
Version=0.1.1
Name=Brutal Doom
Comment=Launcher for gzdoom
Exec=/usr/bin/brutaldoom-launcher
Icon=gzdoom
Terminal=false
Type=Application
Categories=Game;
Name[en_US]=gzdoom
