Source: kodi-pvr-mythtv
Priority: extra
Maintainer: ProfessorKaos64 <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, kodi-pvr-dev,
               libkodiplatform-dev (>= 16.0.0), kodi-addon-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://kodi.tv

Package: kodi-pvr-mythtv
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MythTV PVR for Kodi
 MythTV PVR for Kodi

Package: kodi-pvr-mythtv-dbg
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for MythTV PVR for Kodi
 debug symbols for MythTV PVR for Kodi

