[Desktop Entry]
Version=1.0
Name=Retroarch-Src
GenericName=Retroarch
Comment=Retroarch-Src launcher
Exec=retroarch --config /home/desktop/.config/retroarch/retroarch.cfg
Icon=
Terminal=false
Type=Application
Categories=Games;
Actions=Fullscreen;Standalone;
