[Unit]
Description=Sync Steam Screenshots

[Service]
Type=oneshot
ExecStart=%h/github-repos/SteamOS-Tools/utilities/sync-screenshots/sync-screenshots.sh run
