[Unit]
Description=Timer for Steam screenshot sync symlinker service

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
Unit=sync-screenshots-linker.service
Persistent=true

[Install]
WantedBy=timers.target
