Source: steamos-xpad-dkms
Section: utils
Priority: optional
Maintainer: pkgmaintainer
Build-Depends: gcc (>= 9), cmake (>= 2.8), debhelper (>= 9), libc-bin (>= 2)
Homepage: https://github.com/professorkaos64/SteamOS-Tools
Standards-Version: 3.9.5

Package: steamos-xpad-dkms
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Patched xpad dkms driver provided by Valve for SteamOS
