[Desktop Entry]
Name=Steam-POL
Comment=Runs Steam for Windows via POL, under the "steam" user
Exec=/usr/bin/Steam-POL
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;
