[Desktop Entry]
Version=0.1.1
Name=NAME_TEMP
Comment=Launcher for NAME_TEMP via Chrome
Exec=/usr/bin/LAUNCHER_TEMP.sh
Icon=/home/steam/Pictures/IMG_TEMP.png
Terminal=false
Type=Application
Categories=Utility;Application;
