[Desktop Entry]
Name=Daikatana
Comment=Launcher for Daikatana
Exec=/usr/bin/daikatana
Icon=/usr/share/pixmaps/daikatana.png
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;
Actions=Game;
