[Desktop Entry]
Version=1.0
Name=Itch.io strace debug
GenericName=Game
Type=Application
Exec=/usr/bin/itchio-strace
Icon=preferences-system
Categories=Game;
