[Desktop Entry]
Name=Papo & Yo
Comment=Launcher for Papo & Yo
Exec=/home/desktop/PapoYo/PapoYo.sh
Icon=/home/desktop/Pictures/PapoYo/PapoYoIcon.png
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;
Actions=Game;
