[Desktop Entry]
Version=1.0
Name=Retroarch-Src
GenericName=Retroarch-Src
Comment=Retroarch-Src launcher
Exec=/usr/bin/retroarch-src
Icon=/home/steam/Pictures/retro-arch-src-logo.png
Terminal=false
Type=Application
Categories=Game
Actions=Fullscreen;Standalone;
