[Desktop Entry]
Version=1.0
Name=Start Recording
GenericName=Start Recording
Comment=Start FFMPEG Gameplay Recording
Exec=/usr/local/bin/recording-start.sh &
Icon=
Terminal=true
Type=Utility
Categories=Utils
Actions=Fullscreen;Standalone;
