[Desktop Entry]
Version=1.0
Name=GAME_NAME
GenericName=GAME_NAME
eomment=Supermodel (Sega) game launcher for GAME_NAME
Exec=/usr/bin/supermodel GAME_ZIP -res=DEVICE_RES -fullscreen
Terminal=false
Type=Application
Categories=Game
Actions=Fullscreen;Standalone;
