[Desktop Entry]
Type=Application
Exec=%h/.local/bin/launch-update-software.sh
Icon=utilities-terminal
Categories=Qt;KDE;System;TerminalEmulator;
StartupWMClass=konsole
Name=Update Software (SteamOS-Tools)
Comment=Update Software for system

