[Desktop Entry]
Version=0.1.1
Name=Netflix
Comment=Launcher for Netflix via Chrome
Exec=/usr/bin/Netflix-Launch.sh
Icon=/home/steam/Pictures/Netflix.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[en_US]=Soundcloud.desktop
