[Desktop Entry]
Version=0.1.1
Name=Soundcloud
Comment=Launcher for Soundcloud via Chrome
Exec=/usr/bin/Soundcloud-Launch.sh
Icon=/home/steam/Pictures/Soundcloud.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[en_US]=Soundcloud.desktop
