[Unit]
Description=Regulary checks for and symlinks new screenshots to ~/.steam_screenshots

[Service]
ExecStart=%h/steam-screenshot-sync/symlink-screenshots.sh
