[Unit]
Description="Ludusavi backup"

[Service]
Environment="RUST_LOG=ludusavi=debug"
ExecStart=flatpak run com.github.mtkennerly.ludusavi backup --force

